.subregion-heading {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-recipe-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .search-input {
    width: 800px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
  }
  
  .searchbar-container1 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 60px ;
  }
  
  .searchbar-list1 {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .searchbar-item1 {
    margin-right: 10px;
  }
  
  .region-button {
    background-color: rgb(234, 234, 234);
    color: #333;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
  }
  
  .region-button:hover {
    background-color: #b0b3b9;
  }

/*Image Card Styles */
.image-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 70px;
  }
  
  .image-card {
    width: 240px;
    height: 370px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .image-card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 240px; 
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card-description {
    font-size: 14px;
    color: #4F964F;
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .image-cards-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  