@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.recipe-list {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.cart-header {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.ingredient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ingredient-details {
    display: flex;
    align-items: center;
}

.ingredient-name {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}

.ingredient-item button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #9c9793;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ingredient-item button:hover {
    background-color: #ee1313;
}
