body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
}
.intro {
    width: auto;
    margin-left: 40px;
    text-align: left;
    font-size: 54px;
    font-weight: bolder;
}
span {
    color: #b68337;
    font-size: 54px;
}

.intro-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../images/background2.png");
    background-size: cover;
}

.intro-des {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 15px 0px 5px 50px;
    text-align: left;
    font-weight: 600;
}
  
.search-div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 40px;
}

.search-field {
    padding: 10px 32px;
    border-radius: 40px;
    background-color: #e9e9e9;
    border: 2px solid #ddd;
    font-size: 1em;
    height: 50px;
    width: 575px;
}
.selected-image-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}



.uploaded-image-container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 100px;
    
}
.uploaded-image{
    max-width: 100px;
    max-height: 100px;
}

.selected-image-name{
    margin: 0px 10px 0px 10px;
    text-align: left;
}

.adopt-head{
    font-size: 35px;
}


.adopt-btn{
    border-radius: 36px;
    background: #6ea53a;
    margin-top: 15px;
    cursor: pointer;
}
.adopt-btn:hover{
    background-color: white;
}
.adopt-div-r{
    width: 800px;
    text-align: left;
    margin: 30px 0px 30px 150px;
}
.adopt-content{
    margin: 10px 0px 5px 0px;
    width: 750px;
}
.adopt-img{
    height: 200px;
    border-radius: 30px;
}
.outro-img{
    border-radius: 30px;
    width: 300px;
}
.giveaway-div{
    width: 100%;
    text-align: right;
}
.giveaway-div-in{
    width: fit-content;
    margin-left: 40%;
}
.giveaway-content{
    margin: 10px 0px 5px 0px;
    width: 750px;
    text-align: right;
}
.giveaway-btn{
    margin-top: 15px;
    background: #6ea53a;
    cursor: pointer;
}

.giveaway-btn:hover{
    background-color: white;
}

.footer-top{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height: fit-content;
    background-color: #719557;
}
.footer-top-left{
    width: 300px;
}
.footer-adopt-btn{
    margin-top: 10px;
    background-color: #a99958;
}
.footer-left-content{
    margin-top: 3px;
}
.footer-top-center{
    width: 400px;
}
.footer-top-right{
    display: flex;
    width: 140px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.footer-bottom {
    background-color: #719557;
    color: #fff;
    text-align: center;
    height: 50px;
    padding: 0.1px;
}
