.simrec-container{
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.simrec-reccard{
    padding: 10px;
    margin: 10px;
    min-width : 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
}