@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

body {
  margin: 0px;
  line-height: normal;
}

:root {
  /* fonts */
  --font-epilogue: Epilogue;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-mintcream: #fff;
  --color-honeydew-100: #fff;
  --color-honeydew-200: #fff;
  --color-gray: #0d1c0d;
  --color-seagreen: #4f964f;
  --color-lime: #1ae61a;

  /* Gaps */
  --gap-0: 0px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-67xl: 86px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
}

.vector0,
.vector1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.vector1 {
  z-index: 1;
}

.depth8Frame0 {
  position: absolute;
  top: -1604.5px;
  left: 227px;
  width: 14.5px;
  height: 12.4px;
  display: none;
}

.depth6Frame0 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame0Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) 0 0;
}

.cooking101 {
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
  white-space: nowrap;
}

.cooking101Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.799999999999955px 32px 0 0;
}

.depth7Frame0,
.vector01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth7Frame0 {
  top: -1600.5px;
  left: 44.2px;
  width: 19px;
  height: 20px;
}

.depth6Frame01 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth5Frame0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.search {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}

.depth5Frame1,
.depth6Frame02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame02 {
  align-self: stretch;
}

.depth5Frame1 {
  width: 192px;
}

.depth4Frame1 {
  width: 260px;
  border-radius: var(--br-xs);
  background-color: var(--color-honeydew-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--color-seagreen);
}

.addRecipe {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  white-space: nowrap;
}

.depth5Frame01,
.depth6Frame03,
.depth7Frame01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame01,
.depth6Frame03 {
  background-color: var(--color-lime);
  overflow: hidden;
}

.depth5Frame01 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.depth8Frame01,
.mythicIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.depth8Frame01 {
  top: -1602.5px;
  left: -871px;
  width: 15px;
  height: 16px;
}

.depth7Frame02 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth4Frame0,
.depth5Frame11 {
  display: flex;
  flex-direction: row;
}

.depth5Frame11 {
  border-radius: var(--br-xs);
  background-color: var(--color-honeydew-100);
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.depth4Frame0 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 8px;
}

.depth4Frame11 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 40px;
}

.depth2Frame0,
.depth3Frame1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.depth3Frame1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 0 539px;
  gap: 0 32px;
}

.depth2Frame0 {
  height: 65px;
  border-bottom: 1px solid #e6e8eb;
  justify-content: flex-start;
  padding: 12.5px 40px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-epilogue);
}

.depth6Frame05 {
  height: 280px;
  width: 416.7px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 280px;
  max-width: 100%;
}

.grilledSalmonWith {
  margin: 0;
  width: 467.2px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.58px;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}

.depth10Frame0,
.depth9Frame0 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.depth9Frame0 {
  min-height: 120px;
}

.thisGrilledSalmon {
  width: 467.8px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}

.depth10Frame01,
.depth9Frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.depth9Frame1 {
  min-height: 72px;
  font-size: var(--font-size-base);
}

.depth8Frame02 {
  gap: 8px 0;
}

.depth7Frame03,
.depth8Frame02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.save {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.24px;
  line-height: 24px;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
}

.depth10Frame02,
.depth8Frame03,
.depth9Frame01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth8Frame03,
.depth9Frame01 {
  background-color: var(--color-lime);
  overflow: hidden;
}

.depth8Frame03 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 22.19999999999999px;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.print {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.24px;
  line-height: 24px;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  white-space: nowrap;
}

.depth10Frame03,
.depth9Frame02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth9Frame02 {
  background-color: var(--color-honeydew-100);
  overflow: hidden;
}

.depth8Frame1,
.frameSeasoning {
  display: flex;
  flex-direction: row;
}

.depth8Frame1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 22px;
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.frameSeasoning {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 12px;
}

.depth6Frame0Parent,
.frameGrilling,
.grilledSalmonWithAvocadoSaInner {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  cursor: pointer;
}

.frameGrilling {
  flex: 1;
  flex-direction: column;
  gap: 32px 0;
  min-width: 311px;
}

.depth6Frame0Parent,
.grilledSalmonWithAvocadoSaInner {
  flex-direction: row;
}

.depth6Frame0Parent {
  flex: 1;
  gap: 0 32px;
}

.grilledSalmonWithAvocadoSaInner {
  align-self: stretch;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}

.jumpToRecipe {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
}

.depth6Frame06,
.depth7Frame04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame06 {
  background-color: var(--color-honeydew-100);
  overflow: hidden;
}

.depth4Frame12,
.depth5Frame02 {
  display: flex;
  flex-direction: row;
}

.depth5Frame02 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: var(--color-honeydew-100);
  align-self: stretch;
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.depth4Frame12 {
  width: 960px;
  height: 64px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
}

.ingredients {
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
}

.depth4Frame2,
.depth5Frame03,
.depth6Frame07 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth4Frame2 {
  width: 960px;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
}

.depth9Frame03,
.depthFrameDepthFrameDepth {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame03 {
  top: -2147.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame04 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame05 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame08 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.salmonFillets {
  position: relative;
  line-height: 24px;
}

.depth5Frame04,
.depth6Frame1,
.depth7Frame06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame04 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth9Frame04,
.vector02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame04 {
  top: -2195.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame05 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame07 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame09 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.oliveOil {
  position: relative;
  line-height: 24px;
}

.depth5Frame12,
.depth6Frame11,
.depth7Frame08 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame12 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth9Frame05,
.vector03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame05 {
  top: -2243.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame06 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame09 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame010 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.salt {
  position: relative;
  line-height: 24px;
}

.depth5Frame2,
.depth6Frame12,
.depth7Frame010 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame2 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 11.1px;
}

.depth9Frame06,
.vector04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame06 {
  top: -2291.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame07 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame011 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame011 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blackPepper {
  position: relative;
  line-height: 24px;
}

.depth5Frame3,
.depth6Frame13,
.depth7Frame012 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame3 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth9Frame07,
.vector05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame07 {
  top: -2339.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame08 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame013 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame012 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avocado {
  position: relative;
  line-height: 24px;
}

.depth5Frame4,
.depth6Frame14,
.depth7Frame014 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame4 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth9Frame08,
.vector06 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame08 {
  top: -2387.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame09 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame015 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame013 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.redOnion {
  position: relative;
  line-height: 24px;
}

.depth5Frame5,
.depth6Frame15,
.depth7Frame016 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame5 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth9Frame09,
.vector07 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth9Frame09 {
  top: -2435.5px;
  left: 91px;
  width: 18px;
  height: 18px;
}

.depth8Frame010 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth7Frame017 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame014 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.freshParsley {
  position: relative;
  line-height: 24px;
}

.depth6Frame16,
.depth7Frame018 {
  flex-direction: column;
}

.depth4Frame3,
.depth5Frame6,
.depth6Frame16,
.depth7Frame018 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth5Frame6 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}

.depth4Frame3 {
  width: 960px;
  flex-direction: column;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.instructions {
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
}

.depth4Frame4,
.depth5Frame05,
.depth6Frame015,
.recipejumpframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth4Frame4,
.recipejumpframe {
  flex-direction: row;
  box-sizing: border-box;
}

.depth4Frame4 {
  flex: 1;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  max-width: 100%;
}

.recipejumpframe {
  width: 960px;
  padding: 0 0 var(--padding-base);
}

.createSalsaIcon,
.depth8Frame011 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth8Frame011 {
  top: -2550px;
  left: 75px;
  width: 5px;
  height: 17px;
}

.depth7Frame019 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame016 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.seasonTheSalmon {
  width: 96.7px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.depth7Frame020,
.depth8Frame012 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth7Frame020 {
  height: 40px;
}

.drizzleTheSalmon {
  width: 128.3px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}

.depth8Frame013 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth7Frame1 {
  align-self: stretch;
  flex: 1;
  font-size: var(--font-size-sm);
  color: var(--color-seagreen);
}

.depth5Frame06,
.depth6Frame17,
.depth7Frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame17 {
  align-self: stretch;
  height: 128px;
  gap: 4px 0;
}

.depth5Frame06 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  border: 1px solid var(--color-honeydew-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid) 18px var(--padding-mini);
  gap: 12px 0;
  min-width: 172px;
  max-width: 176px;
}

.depth8Frame014,
.vector08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth8Frame014 {
  top: -2550px;
  left: -113px;
  width: 9px;
  height: 17px;
}

.depth7Frame021 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame017 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.preheatGrillTo {
  width: 126.5px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.depth8Frame015 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth7Frame022 {
  align-self: stretch;
  flex: 1;
}

.depth5Frame13,
.depth6Frame18,
.depth7Frame022 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame18 {
  align-self: stretch;
  height: 60px;
}

.depth5Frame13 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  border: 1px solid var(--color-honeydew-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid) var(--padding-67xl) var(--padding-mini);
  gap: 12px 0;
  min-width: 172px;
  max-width: 176px;
}

.depth8Frame016,
.vector09 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth8Frame016 {
  top: -2550px;
  left: -301px;
  width: 18px;
  height: 14px;
}

.depth7Frame023 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame018 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.grillTheSalmon {
  position: relative;
  line-height: 20px;
}

.depth5Frame21,
.depth6Frame19,
.depth7Frame024,
.depth8Frame017 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame19,
.depth7Frame024,
.depth8Frame017 {
  align-self: stretch;
}

.depth5Frame21 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  border: 1px solid var(--color-honeydew-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid) var(--padding-base) var(--padding-mini);
  gap: 12px 0;
  min-width: 172px;
  max-width: 176px;
  min-height: 198px;
}

.vector010 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth8Frame018 {
  position: absolute;
  top: -2550px;
  left: -489px;
  width: 18px;
  height: 18px;
}

.depth7Frame025 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame019 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.makeTheAvocado {
  width: 116.7px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.depth8Frame019 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth7Frame026 {
  align-self: stretch;
  flex: 1;
}

.depth5Frame31,
.depth6Frame110,
.depth7Frame026 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame110 {
  align-self: stretch;
  height: 40px;
}

.depth5Frame31 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  border: 1px solid var(--color-honeydew-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid) 106px var(--padding-mini);
  gap: 12px 0;
  min-width: 172px;
  max-width: 176px;
}

.depth8Frame020,
.vector011 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.depth8Frame020 {
  top: -2550px;
  left: -677px;
  width: 9px;
  height: 17px;
}

.depth7Frame027 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.depth6Frame020 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.serveTheGrilled {
  width: 139px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.depth7Frame028,
.depth8Frame021 {
  align-self: stretch;
  flex-direction: column;
}

.depth8Frame021 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth7Frame028 {
  flex: 1;
}

.depth5Frame41,
.depth6Frame111,
.depth7Frame028,
.depthFrameDepthFrameVector {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth6Frame111 {
  align-self: stretch;
  height: 60px;
  flex-direction: column;
}

.depth5Frame41,
.depthFrameDepthFrameVector {
  flex: 1;
}

.depth5Frame41 {
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  border: 1px solid var(--color-honeydew-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mid) var(--padding-67xl) var(--padding-mini);
  gap: 12px 0;
  min-width: 172px;
  max-width: 176px;
}

.depthFrameDepthFrameVector {
  flex-direction: row;
  gap: 0 12px;
  max-width: 100%;
}

.depth4Frame1Parent,
.oliveOilDrop {
  width: 960px;
  justify-content: flex-start;
}

.oliveOilDrop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.depth4Frame1Parent {
  overflow-x: auto;
  flex-direction: column;
  font-size: var(--font-size-lg);
}

.depth4Frame1Parent,
.frameSave,
.grilledSalmonWithAvocadoSa {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.grilledSalmonWithAvocadoSa {
  width: 960px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px 0;
}

.frameSave {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: var(--color-gray);
  font-family: var(--font-epilogue);
}

.depth0Frame0,
.galileoDesign {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.depth0Frame0 {
  width: 1280px;
  background-color: var(--color-mintcream);
  flex-direction: column;
  padding: 0 0 36px;
  box-sizing: border-box;
  gap: 60px 0;
  max-width: 100%;
}

.galileoDesign {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: row;
  letter-spacing: normal;
}

@media screen and (max-width: 825px) {
  .depth3Frame1 {
    padding-left: 269px;
    box-sizing: border-box;
  }

  .depth6Frame05 {
    flex: 1;
  }

  .grilledSalmonWith {
    font-size: 38px;
    line-height: 48px;
  }

  .depth8Frame02 {
    align-self: stretch;
    width: auto;
  }

  .depth6Frame0Parent {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 675px) {
  .frameGrilling {
    gap: 16px 0;
  }

  .grilledSalmonWithAvocadoSa {
    gap: 20px 0;
  }

  .depth0Frame0 {
    gap: 30px 0;
  }
}

@media screen and (max-width: 450px) {
  .depth3Frame1 {
    gap: 0 16px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .grilledSalmonWith {
    font-size: 29px;
    line-height: 36px;
  }

  .depth6Frame0Parent {
    gap: 0 16px;
  }
}